@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "tw-animate-css";
@import "tailwindcss";

:root {
  --primary-color: #0f1e7a;
}

body {
  font-family: "Montserrat", sans-serif;
}

.compulsory-field {
  margin: 0;
  padding: 0;
  color: red;
  /* font-size: large; */
}